<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/top_header' %>
    <%= render 'shared/header' %>
    <%= render 'shared/breadcumb' %>
    <%= render 'shared/breadcumb_nav' %>
    
    <%= yield %>

    <%= render 'shared/instagram_carousel' %>
    <%= render 'shared/social' %>
    <%= render 'shared/footer' %>
    <%= render 'shared/scroll_up' %>
  </body>
</html>
